@media only screen and (min-width: 375px) {  
    .rodape {
        background-color: var(--cor-principal);
        border-top: 1px solid var(--cor-botao);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 24px;
        border-top: 1px solid var(--cor-botao);
    }

    .rodape p {
        font-family: var(--fonte-principal);
        font-size: 16px;
        font-weight: 300;
        padding: 8px;
        text-align: center;
    }

    .rodape-icones {
        display: flex;
        padding-bottom: 24px;
        gap: 30px;
        justify-content: space-between;
        font-size: 30px;
    }

    .rodape-icones i {
        color: var(--cor-branco);
        padding: 8px;
        border-radius: 48px;
        &:hover {
            color: var(--cor-card-escuro);
            background-color: var(--cor-secundaria);
            box-shadow: 0 0 5px var(--cor-secundaria),
                0 0 25px var(--cor-azul-css),
                0 0 50px var(--cor-azul-css),
                0 0 10px var(--cor-azul-css);
        }
    }
}

@media only screen and (min-width: 768px) {
    .rodape {
        display: flex;
        flex-direction: row-reverse;
        text-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        padding: 25px;
    }

    .rodape p {
        font-size: 14px;
    }

    .rodape-icones {
        padding-bottom: 0;
        font-size: 20px;
    }
}