@media only screen and (min-width: 375px) {
    .cabecalho nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--cor-botao);
    }

    .menu-hamburguer i {
        color: var(--cor-branco);
        &:hover {
            color: var(--cor-secundaria);
        }
    }

    .cabecalho span {
        color: var(--cor-secundaria);
    }

    .cabecalho-icones {
        display: none;
    }

    /* Menu hamburguer */
    .hamburguer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }

    .hamburguer #line {
        width: 100%;
        &:hover {
            color: var(--cor-secundaria);
        }
    }

    .menu {
        list-style: none;
        padding: 0;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        right: 25px;
        background-color: var(--cor-principal);
        border: 1px solid var(--cor-botao);
        border-radius: 5px;
        overflow: hidden;
        align-items: center;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        padding: 10px 110px;
        
    }

    .menu li a {
        color: var(--cor-branco);
        text-decoration: none;
        text-wrap: nowrap;   
        &:hover {
            color: var(--cor-secundaria);
        }
    }

    .menu-lateral {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .cabecalho {
        padding: 16px;
    }

    nav p {
        font-size: 18px;
        margin-left: 50px;
    }

    .hamburguer {
        display: none;
    }

    .cabecalho-icones {
        display: flex;
        gap: 40px;
        margin-right: 50px;
    }

    .cabecalho-icones i {
        color: var(--cor-card-claro);
        font-size: 20px;
        padding: 8px;
        border-radius: 48px;
        &:hover {
            color: var(--cor-card-escuro);
            background-color: var(--cor-card-claro);
            box-shadow: 0 0 5px var(--cor-azul-css),
                0 0 25px var(--cor-azul-css),
                0 0 50px var(--cor-azul-css),
                0 0 10px var(--cor-azul-css);
        }
    }

    .cabecalho-icones p {
        display: none;
    }

    .menu-lateral {
        display: flex;
        align-items: center;
        position: fixed;
        left: 35px;
        top: 150px;
        background-color: var(--cor-card-escuro);
        padding: 8px 4px;
        list-style: none;
        text-decoration: none;
        border: 1px solid var(--cor-branco);
        border-radius: 50px;
        z-index: 2;
    }
    
    .menu-lateral ul {
        list-style: none;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .menu-lateral ul li {
        align-items:center;       
    }

    .menu-lateral ul li a{
        align-items: center;
        color: var(--cor-branco);       
    }

    .menu-lateral ul li a i {
        align-items: center;
        padding: 6px;
        &:hover {
            color: var(--cor-preto);
            background-color: var(--cor-branco);
            border-radius: 50px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .cabecalho-icones p {
        display: flex;
        align-items: center;
        margin: 0;
    }
}