@media only screen and (min-width: 375px) {    
    .projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        padding: 32px;
        background-color: var(--cor-card-escuro);
    }

    .projetos::before {
        content: "";
        position: absolute;
        background-image: url(/assets/img/background-projects.png);
        inset: 0;
        opacity: 20%;
        
    }

    .projetos h1 {
        font-size: 64px;
        font-weight: 400;
        color: var(--cor-secundaria);
        z-index: 1;
    }

    hr {
        border-color: var(--cor-secundaria);
        border-style: solid;
        width: 50%;
        margin-top: 10px;
        z-index: 1;
    }

    .projetos p {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        padding: 16px;
    }

    .projetos-container {
        display: flex;
        flex-direction: column;
        z-index: 1;

    }

    .img-dual-screen {
        width: 100%;
    }

    .projetos-container-item {
        text-align: right;
    }

    .projetos-container-item a {
        text-decoration: none;
        color: var(--cor-secundaria);
        font-size:18px;
        font-weight: 400;
        position: relative;
        top: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .projetos h1 {
        margin-top: 100px;
    }

    .projetos-container {
        display: flex;
        flex-direction: row;
        width: 80%;
        gap: 50px;
        margin-top: 50px;
    }

    .projetos-container-item a {
        text-wrap: nowrap;
        top: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .projetos-container {
        width: 100%;
        padding: 50px;
    }

    .projetos-container-item a {
        top: 50px;
    }
}