@media only screen and (min-width: 375px) {
    .sobre-mim {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100hv;
        width: 100%;
        position: relative;
        padding: 64px 24px;
        background-color: var(--cor-principal);   
    }

    .sobre-mim::before {
        content: "";
        position: absolute;
        background-color: var(--cor-card-escuro);
        background-image: url(/assets/img/background-waves.png);
        inset: 0;
        opacity: 10%;
    }

    .sobre-mim-conteudo {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .sobre-mim-titulo {
        z-index: 1;
    }

    .sobre-mim-titulo h2 {
        font-size: 32px;
        text-align: center;
        width: 250px;
        font-weight: 400;
        background-color: var(--cor-principal);
        padding: 16px 8px;
        border: 4px solid var(--cor-secundaria);
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        z-index: 1;
        /* margin-left: 55px; */
        margin-bottom: 32px;
    }

    .sobre-mim_texto {
        padding: 24px;
        background-color: var(--cor-principal);
        z-index: 1;
        border-radius: 40px;
    }

    .sobre-mim_ola {
        font-size: 32px;
        font-weight: 500;
        color: var(--cor-secundaria);
        line-height: 42px;
        padding: 16px 0;
    }

    .sobre-mim_texto p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 16px;
    }

    .sobre-mim_texto span {
        color: var(--cor-secundaria);
    }

    .sobre-mim-img {
        z-index: 1;
    }

    .sobre-mim-img img {
        padding: 64px 36px;
    }
}

@media only screen and (min-width: 768px) {
    .sobre-mim-conteudo {      
        align-items:center;
        margin: 0 100px;
    }

    .sobre-mim-titulo {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    .sobre-mim {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .sobre-mim-conteudo {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .sobre-mim_texto {
        text-wrap: wrap;
    }

    .sobre-mim-img img {
        width: 450px;
        margin-left: 32px;
        margin-top: 125px;
    }
}