@import url(./header.css);
@import url(./conteudo.css);
@import url(./sobre-mim.css);
@import url(./skills.css);
@import url(./projetos.css);
@import url(./contato.css);
@import url(./footer.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --fonte-principal: "IBM Plex Mono", monospace;
    --cor-principal: #000;
    --cor-secundaria: #63CAF2;
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-botao: #43454D;
    --cor-card-escuro: #0B1C26;
    --cor-card-claro: #63CAF2;
    --cor-azul-card: #0B1C26;
    --cor-azul-css: #0C73B8;
    --cor-laranja-html: #E54F26;
    --cor-amarelo-js: #E7A020;
    --cor-azul-react: #28A9E0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-principal);
    background: var(--cor-principal);
    color: var(--cor-branco);
    font-size: 16px;
    font-weight: 400;
}

.botao-return i {
    position: fixed;
    bottom: 50px;
    right: 12px;
    padding: 12px;
    background-color: var(--cor-card-claro);
    color: var(--cor-card-escuro);
    border-radius: 100%;
    font-size: 15px;
    z-index: 2;
    transition: transform 300ms ease-out;
    &:hover {
        transform: translate(0px, 0px) scale(1.1, 1.1);
    }
}

@media only screen and (min-width: 768px) {
    .botao-return {
        display: none;
    }
}